<div class="container mt-4">
  <button *ngIf="!unauthorized" class="btn btn-primary" (click)="createOrEdit()" [disabled]="loading">Ingresar nuevo</button>

  <h2 class="mt-3">📋 Lista de Estudiantes</h2>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
    {{ successMessage }}
  </div>

  <!-- Filtros de grado y sección -->
  <div class="row g-3 mt-3" *ngIf="!unauthorized">
    <div class="col-md-4">
      <label for="grade" class="form-label">Grado:</label>
      <select id="grade" class="form-select" [(ngModel)]="gradeSelect" (change)="onGradeChangeForSearch()">
        <option value="">Seleccione un grado</option>
        <option *ngFor="let grade of grades" [value]="grade.id">{{ grade.name }}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="section" class="form-label">Sección:</label>
      <select id="section" class="form-select" [(ngModel)]="sectionSelect">
        <option value="">Seleccione una sección</option>
        <option *ngFor="let section of sections" [value]="section.id">{{ section.name }}</option>
      </select>
    </div>

    <div class="col-md-4 d-flex align-items-end">
      <button class="btn btn-primary w-100" (click)="getStudents()" [disabled]="loading">
        <i class="bi bi-search"></i> Buscar Alumnos
      </button>
    </div>
  </div>

  <!-- Tabla con información de estudiantes -->
  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Fecha de nacimiento</th>
        <th>Grado</th>
        <th>Sección</th>
        <th>Fecha de ingreso</th>
        <th>Estado</th>
        <th>Opción</th>
      </tr>
    </thead>
    <tbody *ngIf="students && students.length > 0; else noData">
      <tr *ngFor="let student of students | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student.complete_name }}</td>
        <td>{{ student.date_of_birth_formatted }}</td>
        <td>{{ student.grade.name }}</td>
        <td>{{ student.section.name }}</td>
        <td>{{ student.enrollment_date_formatted }}</td>
        <td class="text-center">
          <span [ngClass]="{
            'badge': true,
            'bg-success': student.status === 'activo',
            'bg-danger': student.status === 'inactivo',
            'bg-warning': student.status === 'suspendido'
          }" style="min-width: 80px;">
            {{ student.status }}
          </span>
        </td>
        <td>
          <button class="btn btn-warning" (click)="createOrEdit(student)">Editar</button>
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tbody>
        <tr>
          <td colspan="8" class="text-center">No hay datos disponibles</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <!-- paginación -->
  <pagination-controls *ngIf="students && students.length > 0"
    (pageChange)="onPageChange($event)"
  >
  </pagination-controls>

  <!-- Spinner -->
  <div *ngIf="loading" class="d-flex justify-content-center" style="height: 100vh;">
    <div class="spinner-border text-primary" role="status">
    </div>
  </div>


  <!-- Modal para crear o editar estudiante -->
  <app-student-modal *ngIf="isModalOpen && !unauthorized"
    [isModalOpen]="isModalOpen"
    [student]="infoStudent"
    [grades]="grades"
    [sections]="sections"
    [gradeId]="gradeId"
    (closeModal)="closeModal($event)"
    (lock)="lock()"
  >
  </app-student-modal>

</div>
